Tarefa 02 Módulo 05

In [1]:
import pandas as pd

01/02- Marcar Default

In [2]:
pagamentos = pd.read_csv('pagamentos_largo.csv')
pagamentos

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,5001718,0,0,0,0,0,0,0,0,NaN,...,NaN,0,NaN,0,0,0,0,NaN,0,NaN
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
2,5001720,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,C,0,0,0,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20932,5150475,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
20933,5150476,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
20934,5150480,0,0,C,C,C,C,C,C,C,...,C,C,C,0,0,0,C,C,C,C
20935,5150482,0,0,0,0,C,C,C,C,C,...,NaN,NaN,NaN,0,0,0,0,0,0,0
20936,5150487,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C

Buscando por clientes 'Default'

In [12]:
pagamentos_tratados = pagamentos.fillna(0)
pagamentos_tratados['credito'] = 0

for i in pagamentos_tratados.columns[:-1]:
  pagamentos_tratados.loc[(pagamentos_tratados[i].isin(['0', '1', 'C'])), 'credito'] = 'nao_default'

for i in pagamentos_tratados.columns[:-1]:
  pagamentos_tratados.loc[(pagamentos_tratados[i].isin(['2', '3', '4', '5'])), 'credito'] = 'default'

pagamentos_tratados[pagamentos_tratados['credito'] == 'default']

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9,credito
130,5002126,0,0,C,C,C,C,C,C,C,...,C,C,0,1,2,2,3,3,2,default
177,5002283,0,0,1,2,0,0,0,0,0,...,C,C,0,0,0,0,0,0,0,default
303,5002642,0,0,0,0,1,0,0,0,C,...,C,C,0,0,0,0,0,1,2,default
355,5002795,0,1,0,0,C,C,C,C,C,...,C,C,0,0,0,1,2,0,0,default
556,5003267,1,2,C,C,C,C,C,C,C,...,C,C,3,1,1,C,C,C,C,default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20523,5149192,0,0,5,5,5,0,0,0,0,...,0,0,5,5,5,5,5,5,5,default
20734,5149698,0,0,0,0,0,4,2,2,0,...,0,0,0,0,0,1,0,2,0,default
20744,5149728,0,0,0,0,2,C,C,C,C,...,0,0,0,0,0,0,0,0,0,default
20745,5149730,0,0,0,0,2,C,C,C,C,...,0,0,0,0,0,0,0,0,0,default
20776,5149838,0,1,3,4,5,5,5,5,5,...,C,C,1,1,1,1,1,2,2,default

03/04- Marcando proponentes com risco juntando informações

In [13]:
propostas = pd.read_csv('application_record.csv')
propostas

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [14]:
propostas_avaliacao = pd.merge(propostas, pagamentos_tratados[['ID', 'credito']], how='left', on='ID')
propostas_default = propostas_avaliacao[propostas_avaliacao['credito'] == 'default']

05- Contando valores Default

In [18]:
#Default nos pagamentos:
pagamentos_tratados[pagamentos_tratados['credito'] == 'default'].shape[0]

431

In [19]:
#Default nas propostas:
propostas_avaliacao[propostas_avaliacao['credito'] == 'default'].shape[0]

390